.img {
    display: flex;
    align-items: center;
    justify-content: center;
    ion-img {
        width: 50%;
    }
}

form {
    padding-top: 10px;
    ion-button {
        padding-top: 10px;
    }
}

ion-fab-list {
    ion-fab-button {
        width: 55px !important;
        height: 55px !important;
    }
}

.access {
    padding-top: 2em;
}

.center {
    display: grid;
    place-items: center;
}

.gridBtn2 {
    display: grid;
    grid-template-columns: 5em 5em;
    gap: 0.5em;
}

.gridBtn3 {
    display: grid;
    grid-template-columns: 5em 5em 5em;
    gap: 0.5em;
}