<ion-content color="light">
    <ion-button class="rojo" expand="block" shape="round" (click)="playAudio('uno')">
        <img src="/assets/numeros/one.png">
    </ion-button>
    <ion-button class="amarillo" expand="block" shape="round" (click)="playAudio('dos')">
        <img src="/assets/numeros/two.png">
    </ion-button>
    <ion-button class="azul" expand="block" shape="round" (click)="playAudio('tres')">
        <img src="/assets/numeros/three.png">
    </ion-button>
    <ion-button class="verde" expand="block" shape="round" (click)="playAudio('cuatro')">
        <img src="/assets/numeros/four.png">
    </ion-button>
    <ion-button class="naranja" expand="block" shape="round" (click)="playAudio('cinco')">
        <img src="/assets/numeros/five.png">
    </ion-button>
</ion-content>
