<ion-content color="light">
    <ion-button class="rojo" expand="block" shape="round" (click)="playAudio('oso')">
        <img src="/assets/animales/bear.png">
    </ion-button>
    <ion-button class="amarillo" expand="block" shape="round" (click)="playAudio('gato')">
        <img src="/assets/animales/cat.png">
    </ion-button>
    <ion-button class="azul" expand="block" shape="round" (click)="playAudio('perro')">
        <img src="/assets/animales/dog.png">
    </ion-button>
    <ion-button class="verde" expand="block" shape="round" (click)="playAudio('leon')">
        <img src="/assets/animales/lion.png">
    </ion-button>
    <ion-button class="naranja" expand="block" shape="round" (click)="playAudio('mono')">
        <img src="/assets/animales/monkey.png">
    </ion-button>
</ion-content>
