<ion-content color="light">
    <ion-button class="rojo" expand="block" shape="round" (click)="playAudio('rojo')">
        <img src="/assets/color/spot.png">
    </ion-button>
    <ion-button class="amarillo" expand="block" shape="round" (click)="playAudio('amarillo')">
        <img src="/assets/color/spot.png">
    </ion-button>
    <ion-button class="azul" expand="block" shape="round" (click)="playAudio('azul')">
        <img src="/assets/color/spot.png">
    </ion-button>
    <ion-button class="verde" expand="block" shape="round" (click)="playAudio('verde')">
        <img src="/assets/color/spot.png">
    </ion-button>
    <ion-button class="naranja" expand="block" shape="round" (click)="playAudio('naranja')">
        <img src="/assets/color/spot.png">
    </ion-button>
</ion-content>
