ion-content {
    ion-button {
        width: 100%;
        height: 18%;
    }
}

.rojo {
    --background: red !important;
}

.azul {
    --background: blue !important;
}

.verde {
    --background: green !important;
}

.amarillo {
    --background: yellow !important;
}

.naranja {
    --background: orange !important;
}
