<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/login" [disabled]="formRegister.disabled"></ion-back-button>
        </ion-buttons>
        <ion-title class="ion-text-capitalize">Registro</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="light">

    <form [formGroup]="formRegister" (ngSubmit)="onSubmit()">
        <ion-item color="primary">
            <ion-label position="floating">Correo
            </ion-label>
            <ion-input required formControlName="correo" type="email"></ion-input>
        </ion-item>
        <ion-item color="primary">
            <ion-label position="floating">Clave
            </ion-label>
            <ion-input required formControlName="clave" type="password"></ion-input>
        </ion-item>
        <ion-item color="primary">
            <ion-label position="floating">Perfil
            </ion-label>
            <ion-select formControlName="perfil" placeholder="Seleccione perfil">
                <ion-select-option value="admin">Admin</ion-select-option>
                <ion-select-option value="usuario">Usuario</ion-select-option>
                <ion-select-option value="tester">Tester</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item color="primary">
            <ion-label position="floating">Sexo
            </ion-label>
            <ion-select formControlName="sexo" placeholder="Seleccione sexo">
                <ion-select-option value="femenino">Femenino</ion-select-option>
                <ion-select-option value="masculino">Masculino</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-button block color="primary" expand="full" type="submit" [disabled]="formRegister.invalid">
            Register
        </ion-button>
    </form>

</ion-content>
